* {
  padding: 0;
  margin: 0;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f6efe8;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 40px;
  padding-left: 20px;
}

.header {
  -ms-grid-columns: 48% 48%;
      grid-template-columns: 48% 48%;
  padding-bottom: 60px;
}

.header h1 {
  color: black;
  text-align: left;
  font-size: 40px;
  font-weight: 900;
  padding-bottom: 20px;
  letter-spacing: 0,5px;
}

.header p {
  text-align: left;
  font-size: 15px;
  padding-bottom: 20px;
  letter-spacing: 0,5px;
  word-spacing: 3px;
  line-height: 25px;
}

.buttons {
  max-width: 100%;
  height: 110px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buttons a {
  margin-top: 0;
  width: 100%;
  white-space: normal;
  padding: 20px 24px;
  background-color: #611f69;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.buttons a:hover {
  margin-top: 0;
  width: 100%;
  white-space: normal;
  padding: 20px 24px;
  background-color: #501855;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
}

.example img {
  max-width: 100%;
  padding: 30px 0px;
  -o-object-fit: contain;
     object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: block;
  width: 100%;
  padding: 20px 0px;
}

.section1__companies {
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1__companies__img {
  max-width: 100%;
  padding: 10px 0px;
}

.section1__companies__img img {
  max-width: 100px;
  margin: 10px;
  text-align: center;
}

/*parte alex*/
.o-section--feature.v--borderless {
  border: none;
}

.v--homepage__section-feature {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.u-padding--flush {
  padding: 0rem !important;
}

o-section {
  overflow: hidden;
  padding: 3rem 0;
  border-top: 1px solid #ebeaeb;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, picture, section, summary {
  display: block;
}

.u-justify-items--right {
  justify-items: flex-end;
}

.o-two-columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.o-content-container {
  padding: 0 4vw;
}

.u-hide-on-mobile {
  display: none !important;
}

.o-content-container {
  margin: 0 auto;
  padding: 0 8vw;
}

.u-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.u-max-450 {
  max-height: 450px;
}

img, video {
  max-width: 100%;
  height: auto;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

h2 {
  font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: -.3px;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #1d1d1d;
}

.u-margin-bottom--medium {
  margin-bottom: 1rem !important;
}

.o-section--feature__copy {
  font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.44444444;
  letter-spacing: normal;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

p {
  margin: 0;
}

.o-section--feature__link {
  border-bottom: none;
}

.o-section--feature__link {
  display: inline;
}

.o-section--feature__link {
  font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
  line-height: 1.44444444;
  letter-spacing: normal;
  font-size: 1.125rem;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
}

.t-contains-reverse-links .t-default-link, .t-default-link, a {
  color: #1264a3;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid #1264a3;
  word-break: break-word;
}

a {
  background: 0 0;
}

.c-video-snippet-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-gap: 1rem 30px;
  margin-top: 2rem;
  max-width: 480px;
}

.c-video-snippet-container .c-video-snippet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-youtube-video--showcase__link {
  padding: 0;
}

.c-youtube-video--showcase__link {
  border-bottom: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  position: relative;
}

.t-contains-reverse-links .t-default-link, .t-default-link, a {
  color: #1264a3;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid #1264a3;
  word-break: break-word;
}

a {
  background: 0 0;
}

.c-video-snippet-container .c-video-snippet__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: .5rem;
  margin-top: .5rem;
  font-size: .875rem;
}

.c-video-snippet-container .c-video-snippet__caption-title {
  font-weight: 700;
}

.c-video-snippet-container .c-video-snippet__thumbnail .c-youtube-video--showcase__icon {
  left: unset;
  top: unset;
  right: 15px;
  bottom: 18px;
  -webkit-transform: unset;
          transform: unset;
}

.u-rect-ice-blue-hover .c-youtube-video--showcase__icon {
  background-color: #36c5f0;
  border: none;
}

svg:not(:root) {
  overflow: hidden;
}

.c-youtube-video--showcase__icon {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 4px;
}

.c-video-snippet-container .c-video-snippet__thumbnail .c-youtube-video--showcase__image {
  border-radius: 6px;
  width: 100%;
}

.c-youtube-video--showcase__image, .c-youtube-video--showcase__video {
  min-width: 100%;
}

.c-video-snippet-container .c-video-snippet__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: .5rem;
  margin-top: .5rem;
  font-size: .875rem;
}

img, video {
  max-width: 100%;
  height: auto;
}

img {
  border: 0;
}

/*parte javi*/

.container-slack{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin-right: 50px;
    margin-bottom: 20px;
}


.hidden-image{
    margin: 30px;
}

@media (max-width: 768px){
    .hidden-image{
    width: 0%;
    }
    .hidden-mobile{
        width: 10%;
    }
}

.title-slack{
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.1875;
    letter-spacing: -.3px;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text-slack{
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.44444444;
    letter-spacing: normal;
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.link-abrir{
    
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    line-height: 1.44444444;
    letter-spacing: normal;
    font-size: 1.125rem;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-decoration: none;
    color: #1264a3;
    padding-bottom: 10px;
}



.videoandtext-contain-text{
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: bold;
    padding-top: 20px;
}

.contain-text-time{
    font-weight: lighter;
    margin-left: 20px;
    margin-right: 20px;
}

.container-video{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.videoandtext-contain-video{
    padding: 10px;
}

